/* Add your global styles here */
@font-face {
  font-family: 'Bebas';
  src: url(./assets/BebasNeue-Regular.ttf);
}
.app {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Bebas';
  /* min-height: 100vh; */
}

/* Add other styles as necessary */
